GROQ_API_KEY=
# By default choices for LLM
PRIMARY_MODEL_NAME=openai/gpt-oss-120b
BACKUP_MODEL_NAME=llama-3.3-70b-versatile
HF_TOKEN=
# Change this to 1, if you want the output in Hindi
# By default in English
IN_HINDI=0